# 核心科学计算库
numpy
scipy
pandas

# 医学影像处理
nibabel # NIfTI文件处理
pydicom  # DICOM文件处理

# 数据可视化
matplotlib
seaborn

# Excel文件处理
openpyxl
xlrd

# 路径处理和文件系统操作
pathlib2

# 并行处理
joblib

# 日志记录和配置
pyyaml


# 其他工具
tqdm # 进度条
requests  # HTTP请求 

# 统计分析
statsmodels
patsy
